<h3>ViewComponent View Specified</h3>
<p>
    Example of ViewComponent that uses the view that it specifies in the ViewComponent class
</p>

<pre>
    <code>
        return View("AnotherView");
    </code>
</pre>

<div>
    <img src="../images/ViewComponentChoosingViewByName.png" />
</div>