<h4>ViewComponent with ViewComponent Attribute</h4>
<p>
    Example of ViewComponent without a "ViewComponent" suffix that implements the ViewComponent Attribute
</p>

<pre>
    <code>
        [ViewComponent]
        public class NamingConvention3
    </code>
</pre>