<h4>ViewComponent inheriting ViewComponent Abstract Class</h4>
<p>
    Example of ViewComponent that inherits from a ViewComponent abstract class
</p>

<pre>
    <code>
        public abstract class NamingConventionAbstract : ViewComponent
    </code>
</pre>

<pre>
    <code>
        public class NamingConvention5 : NamingConventionAbstract
    </code>
</pre>