<h3>Invoke Example Parameters Latest .Net Core</h3>
<p>
    Exact same example as above, but with .Net Core 1.1, we are able to call ViewComponents as TagHelpers
</p>

<pre>
    <code>
        &lt;vc:invoke-example4 id="4" is-new="true"&gt;&lt;/vc:invoke-example4&gt;
    </code>
</pre>