<h3>ViewComponent View from Controller Folder</h3>
<p>
    Example of ViewComponent that uses the view in the controller folder even though there is a view in the shared folder
</p>

<div>
    <img src="../images/ViewComponentInControllerFolder.png" />
</div>