<h3>Invoke Example Synchronous</h3>
<p>
    Example of a View Component that uses the Invoke method
</p>

<pre>
    <code>
        public class InvokeExample2ViewComponent : ViewComponent
        {
            public IViewComponentResult Invoke()
            {
                return View();
            }
        }
    </code>
</pre>