@{
    ViewData["Title"] = "Naming Conventions";
}

<h2>Naming Conventions</h2>
<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("NamingConvention1")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("NamingConvention2")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("NamingConvention3")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("NameByAttribute")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("NamingConvention5")
    </div>
</div>