<h4>ViewComponent inheriting from ViewComponent</h4>
<p>
    Example of ViewComponent without a "ViewComponent" suffix that inherits from ViewComponent
</p>

<pre>
<code>
        public class NamingConvention2 : ViewComponent
    </code>
</pre>