@model BlogViewComponent.Core.Models.ProductItemModel

<div class="product-item">
    <div class='row'>
        <div class='col-md-12'>
            <img src='../images/@Model.ImageName-300.png' class="pull-left" />
        </div>
    </div>

    <div class='row title'>
        <div class='col-md-8'>
            <label>@Model.Name</label>
        </div>
        <div class='col-md-4'>
            <label>@Model.Price</label>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <span>@Model.Description</span>
        </div>
    </div>
</div>