<h4>ViewComponent with ViewComponent Attribute and Name</h4>
<p>
    Example of ViewComponent without a "ViewComponent" suffix that implements the ViewComponent Attribute and provides a specific Name for the ViewComponent
</p>

<pre>
<code>
        [ViewComponent(Name = "NameByAttribute")]
        public class NamingConvention4
    </code>
</pre>