@{
    ViewData["Title"] = "Defining Views";
}

<h2>Defining Views</h2>
<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("Defining1")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("Defining2")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("Defining3")
    </div>
</div>